<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" 
        content="soldador,soldagem,processos de soldagem,tecnico em soldagem,inspetores de soldagem,inspetor de soldagem">
    <meta name="description" content="portifolio soldador,soldador,soldagem,mig,mag,eletrodo revestido">
    <link rel="shortcut icon" type="imagex/png" href="./images/SOLDAGEM-ICON.png">
    <title>Aldomar assolin - Técnico em Soldagem</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/2144521325.js"></script>
</head>
<body>
    
    {{{body}}}

    <script src="js/function.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>